<div class="modal-setting" *ngIf="modalState">
  <div class="modal">
    <div class="modal-header">
      <h4>Transfer</h4>
      <button class="btn" (click)="closeModal()">x</button>
    </div>
    <div class="modal-content">
      <h2>Enter the transfer details:</h2>
      <hr />
      <div class="modal-bottom">
        <div class="modal-fields">
          <div class="modal-field">
            <label for="accNum">To account number:</label>
            <input type="text" name="accNum" id="accNum" />
          </div>
          <div class="modal-field">
            <label for="accSum">Sum to be transfered:</label>
            <input type="text" name="accSum" id="accSum" />
          </div>
        </div>
        <div class="modal-action">
            <button class="btn-transfer">👍</button>
        </div>
      </div>
    </div>
  </div>
</div>
