.main-accounts {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 700px;
    .table {
        width: 90%;
        background: rgba($color: #ffffff, $alpha: 0.4);
    }
}