@import "../../../scss/colors";
@import "../../../scss/effects";
@import "../../../scss/mixins";


.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation: fade-in-from-bottom 500ms ease-out;
  font-size: 1.6rem;
  .card {
    border-radius: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    height: 28rem;
    width: 30rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
    .card-header {
      text-align: center;
      border-radius: 1.3rem 0 0 0;
      text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.7);
      padding: 10px;
      background: linear-gradient(90deg, #08061b00, #201f8b, #5eff0000);
      background-size: 200% 200%;
      animation: gradient-roll 5s ease infinite;
      color: white;
    }
    .card-content {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.7);
      .field {
        margin-bottom: 2rem;
        label {
          color: rgba(255, 255, 255, 0.8);
          text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.7);
        }
        input {
          display: flex;
          align-self: flex-end;
          height: 3rem;
          width: 100%;
          text-align: center;
          text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
        }
        .ng-invalid.ng-touched {
          background: rgba($color: #ffc8c8, $alpha: 1);
        }
        .error-block {
          position: absolute;
          margin: 0;
          padding: 0;
          font-size: 1rem;
          color: red;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    button {
      margin-top: auto;
      margin-bottom: auto;
      height: 6rem;
      @include button-style($primary);
    }
  }
}