@import "../../../fonts";

.clock {
  display: flex !important;
  width: 400px;
  height: 100%;
  justify-content: center;
  align-items: center;
  .container {
    background: rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    color: rgba($color: #00ff40, $alpha: 0.9);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    h3 {
      font-size: 3rem;      
      font-family: "Cute Font", cursive;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }
    h4 {
      font-family: "Cute Font", cursive;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }
  }
}

.blink {
  animation: blink-animation 1s step-start infinite;
  font-family: "Cute Font", cursive;

  @keyframes blink-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
