.main-accounts {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 70rem;
  .table {
    table-layout: fixed;
    width: 90%;
    background: rgba($color: #ffffff, $alpha: 0.4);
    tr {
        height: 4rem;
      th, td {
        // resize: horizontal;
        text-align: center;
        button {
          width: 5rem;
          border: none;
          background: rgba($color: #aaaaaa, $alpha: 1);
          &:hover {
            background: lighten(rgba($color: #aaaaaa, $alpha: 1), 10%);
          }
          &:active {
            background: darken(rgba($color: #aaaaaa, $alpha: 1), 30%);
          }
        }
      }
      th:first-child, td:first-child {
        width: 6rem;
      }
      th:last-child, td:last-child {
        width: 8rem;
      }
    }
  }

  tbody tr:nth-child(odd) {
    background-color: #666666a6;
    color: #fff;
  }
}
