<div class="main-accounts">
  <table class="table table-striped" *ngIf="accounts && accounts.length > 0 || accountsOwner; else NotSelected">
    <caption>This is a table description</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Balance</th>
        <th scope="col">Card type</th>
        <th scope="col">Opened at</th>
        <th scope="col">Transfer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let acc of accounts">
        <td>{{ acc.accountNumber }}</td>
        <td>{{ acc.type }}</td>
        <td>{{ acc.balance }}</td>
        <td>
          {{ acc.cardType === undefined ? "Not issued" : acc.cardType }}
        </td>
        <td>{{ acc.openedAt | date : "dd/MM/yyyy" }}</td>
        <td>
          <button (click)="openModal(acc)">⇄</button>
        </td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="accounts.length < 1 && accountsOwner">No accounts found.</span>
</div>
<ng-template #NotSelected> No client selected. </ng-template>
<app-transfer [fromAcc]="acc"></app-transfer>