<div class="main-accounts">
  <table
    class="table table-striped"
    *ngIf="accounts && accounts.length > 0 || accountsOwner; else NotSelected"
  >
    <thead class="bg-secondary">
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Balance</th>
        <th>Card type</th>
        <th>Opened at</th>
        <th>Transfer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let acc of accounts">
        <th>{{ acc.accountNumber }}</th>
        <td>{{ acc.type }}</td>
        <td>{{ acc.balance }}</td>
        <td>
          {{ acc.cardType === undefined ? "Not issued" : acc.cardType }}
        </td>
        <td>{{ acc.openedAt | date : "dd/MM/yyyy" }}</td>
        <td>
          <button (click)="openModal(acc)">⇄</button>
        </td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="accounts.length < 1 && accountsOwner">No accounts found.</span>
</div>
<ng-template #NotSelected> No client selected. </ng-template>
<app-transfer [fromAcc]="acc"></app-transfer>