.main-accounts {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  width: 70rem;
  .table {
    width: 90%;
    background: rgba($color: #ffffff, $alpha: 0.4);
    tr {
        height: 4rem;
      td {
        text-align: center;
        button {
          width: 5rem;
          border: none;
          &:hover {
            background: lighten(rgba(255, 255, 255, 1), 1);
          }
          &:active {
            background: darken(gray, 1);
          }
        }
      }
    }
  }

  tbody tr:nth-child(odd) {
    background-color: #666666a6;
    color: #fff;
  }
}
