@import "../../../../../scss/colors";

li {
  &.list-group-item {
    height: 5rem;
    width: 25rem;
    font-size: 1.2rem;
    border: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: transparent;
    // border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
    color: white;
    transition-duration: 300ms;
    .arrow {
      margin-right: 0.5rem;
      opacity: 0;
    }
    .iDiv {
      display: flex;
      width: 6rem;
      justify-content: center;
      align-items: center;
      img {
        margin-left: 1rem;
        margin-right: 1rem;
        height: 4rem;
        border-radius: 50%;
        opacity: 0.1;
      }
    }
    &:hover {
      color: black;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 1.5rem 0 0 1.5rem;
      text-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.9);
      transition-duration: 300ms;
      .arrow {
        margin-right: 1rem;
        opacity: 0.8;
        transition-duration: 200ms;
      }
      .iDiv {
        img {
          filter: blur(0.5);
          transition-duration: 300ms;
          opacity: 0.8;
        }
      }
    }
    &:active {
      background: darken(rgba(255, 255, 255, 0.8), 0.5);
      .iDiv {
        transition-duration: 100ms;
        img {
          height: 3.5rem;
          transition-duration: 100ms;
        }
      }
    }
    .seps {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .tc {
        display: flex;
        align-items: center;
      }
      .btn-small {
        font-size: 1.6rem;
        margin-right: 1rem;
        position: relative;
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border: none;
        border-radius: 50%;
        background: transparent;
        &::after {
          content: "";
          position: absolute; /* Updated */
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1);
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          background: transparent; /* Replace with the desired background color */
          transition: all 0.5s ease;
          z-index: -1;
        }
        &:hover::after {
          transform: translate(-50%, -50%) scale(0);
          background: $danger;
          z-index: -1;
        }
        &:hover {
          background: $danger;
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
    }
    &.chosen {
      color: black;
      background: rgba(255, 255, 255, 0.69);
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
      border-radius: 2.5rem 0 0 2.5rem;
      transition-duration: 300ms;
      .arrow {
        color:  transparent;
        opacity: 0.8;
        transition-duration: 200ms;
        text-shadow: none;
      }
      .iDiv {
        img {
          filter: blur(0);
          transition-duration: 300ms;
          opacity: 0.8;
        }
      }
      &:hover {
        .arrow {
          color:  transparent;
          margin-right: 0.5rem;
        }
      }
    }
    &.disabled {
      img {
        filter: blur(0.3rem);
      }
      pointer-events: none;
      border-bottom: none;
      color: transparent;
      text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    }
  }

}
