<ng-container *ngIf="isConnected(); else default">
    <div class="half">
        <button class="btn" (click)="logout()" role="button">Deconnexion</button>
    </div>
    <div class="half">
        <!-- <div class="half left">
            <div class="infoNav">
            <h4>James Kahn</h4>
            <p>Counselor</p>
            <p>Agence Lille 0122</p>
        </div> -->
        <!-- </div> -->
        <!-- <div class="half right"> -->
            <!-- <img class="avatar" src="../../../assets/img/img_avatar_male.png" alt="Image"> -->
        <!-- </div> -->
    </div>
</ng-container>
<ng-template #default>
    <h3 class="centered">Please login...</h3>
</ng-template>