.flexCenter {
  padding-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.detailsdiv {
  background: rgba(255, 255, 255, 0.69);
  width: 70rem;
  height: 65rem;
}

h3 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
