@import "../../../../scss/colors";
@import "../../../../scss/mixins";

.main-form {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  .form-control {
    width: 40rem;
    height: 3rem;
    margin: .5rem;
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    .btn {
      &-primary {
        @include button-md-size;
        @include button-style($primary);
      }
      &-warning {
        @include button-md-size;
        @include button-style($warning);
      }
      &-success {
        @include button-md-size;
        @include button-style($success);
      }
      &-danger {
        @include button-md-size;
        @include button-style($danger);
      }
    }
  }
}
