<div class="main-form">
  <form [formGroup]="clientForm">
    <div>
      <input
        class="form-control"
        formControlName="name"
        type="text"
        placeholder="{{ selectedClient ? selectedClient.name : 'Name' }}"
        id="inputName"
        [readonly]="onRead"
        required
      />
      <label for="inputName" class="label">Name</label>
    </div>

    <div>
      <input
        class="form-control"
        formControlName="surname"
        type="text"
        placeholder="{{ selectedClient ? selectedClient.surname : 'Surname' }}"
        id="inputSurname"
        [readonly]="onRead"
        required
      />
      <label for="inputSurname" class="label">Surname</label>
    </div>

    <div>
      <input
        class="form-control"
        formControlName="address"
        type="text"
        placeholder="{{ selectedClient ? selectedClient.address : 'Address' }}"
        id="inputAdress"
        [readonly]="onRead"
        required
      />
      <label for="inputAdress" class="label">Address</label>
    </div>

    <div>
      <input
        class="form-control"
        formControlName="zip"
        type="number"
        placeholder="{{ selectedClient ? selectedClient.zip : 'Postal Code' }}"
        id="inputZip"
        [readonly]="onRead"
        required
      />
      <label for="inputZip" class="label">Postal Code</label>
    </div>

    <div>
      <input
        class="form-control"
        formControlName="city"
        type="text"
        placeholder="{{ selectedClient ? selectedClient.city : 'City' }}"
        id="inputCity"
        [readonly]="onRead"
      />
      <label for="inputCity" class="label">City</label>
    </div>

    <div>
      <input
        class="form-control"
        formControlName="tel"
        type="text"
        placeholder="{{ selectedClient ? selectedClient.tel : 'Telephone' }}"
        id="inputTel"
        [readonly]="onRead"
      />
      <label for="inputTel" class="label">Telephone</label>

      <div class="buttons">
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="!selectedClient && onRead"
          (click)="onAddNew()"
        >
          Add Client
        </button>

        <button
          *ngIf="selectedClient && onRead"
          type="button"
          class="btn btn-warning"
          (click)="onEditClient()"
        >
          Edit Client
        </button>
        <button
          *ngIf="selectedClient && onRead"
          type="button"
          class="btn btn-warning"
          (click)="onResetForm()"
        >
          Reset Selection
        </button>

        <button
          *ngIf="onEdit || (onCreate && !selectedClient)"
          type="button"
          class="btn btn-success"
          (click)="onAddClient()"
        >
          Save
        </button>

        <button
          *ngIf="onEdit || (onCreate && !selectedClient)"
          type="button"
          class="btn btn-danger"
          (click)="onCancelEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
<app-accounts [accountsOwner]="selectedClient"></app-accounts>
