@keyframes fade-in-from-bottom {
    0% {
        opacity: 0%;
        transform: translateY(100px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes ease-out {
    0% {
        opacity: 100%;
    }
    
    100% {
        opacity: 0;
        transform: translateX(200px);
    }
    
}

@keyframes gradient-roll { 
    0%{background-position:1% 0%}
    50%{background-position:95% 100%}
    100%{background-position:1% 0%}
}